<a href="https://colab.research.google.com/github/SandyAtencio/Manipulacion_datos_pandas/blob/master/Manipulacion_de_datos_con_Pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Transformando datos

## Presentacion de Dataframes

### Introduccion a Dataframe

Pandas es un paquete para la manipulacion y visualizacion de datos, esta construido sobre Numpy (brinda objetos de matriz multidimensional ) y Matplotlib (permite visualizar los datos)

### Inspeccionar un DataFrame

*   .head(): muestra las primeros 5 filas
*   .info(): muestra nombre de las columnas, tipo de datos, y si tiene valore nulos en sus registros
*   .shape: nos indica cuantas filas y columnas tiene el dataframe
*   .describe(): calcula el resumen de algunas estadisticas para las columnas numericas ( como la media y la mediana)

*Nota: los metodos van acompañados de parentesis mientras que los atributos no*

### Partes de un dataframe
Estan formados por 3 componentes, almacenados como atributos:

* .values: Una matriz de valores NumPy bidimensional.
* .columns: Un índice de columnas: los nombres de las columnas.
* .index: Un índice para las filas: números de fila o nombres de fila.

## Clasificacion y subconjuntos

### Ordenar
* .sort_values(nombre_columna): ordena los valores de esa columna de menor a mayor
* .sort_values(nombre_columna, ascending=False): cuando especificamos el argumento ascending en falso, los valores se ordenaran al reves, es decir, de mayor a menor
* .sort.values([nombre_columna, nombre_otra_columna]): podemos ordenar por multiples variables para ser ordenadas de menor a mayor
* .sort.values([nombre_columna, nombre_otra_columna], ascending=[True, False]):
para especificar cual va hacer el orden de casa columna o variable

### Subconjunto de columnas
* nombre_dataset[nombre_columna]: para acceder a los datos de una columna
* nombre_dataset[[nombre_columna, nombre_otra_columna]]: para acceder a los datos de mas de una columna

*Nota: los corchetes externos permiten crear un subconjunto del dataframe, mientras que los corchetes internos crean una lista de nombres de columnas para subconjunto*

### Subconjunto de filas

1.   dataframe[nombre_columna] > condicion: permite mostrar esa columna con los resultados en booleanos
2.   dataframe[dataframe[nombre_columna] > condicion]: permite crear un subconjunto de filas y realizara el calculo sobre esa columna pero devolvera todas las observaciones del dataset
3. varA = dataframe[nombre_columna_A] == cadena_a_comparar_1
varB = dataframe[nombre_columna_B] == cadena_a_comparar_2
dataframe[varA & varB]: de esta forma podemos realizar multiples condiciones
4. .isin(): permite evaluar un valor dentro de una columna.

*nota: las condiciones pueden ser numericas o de texto*

## Nuevas columnas

1. df[nueva_columna] = df.[colummna_existente] : permite crear una nueva colummna apartir de los datos de una columna existente, tambien podemos hacer calculos con la columna existente y se la agregamos a la nueva columna

# Ejercicios
De acuerdo con lo explicado en la parte superior de este notebook, elabore los siguientes ejercicios.
Aqui vamos a trabajar con un Dataset llamado Pokemón (super divertido), este dataset contiene informacion sobre los diferentes pokemones.
<br>
Aqui pondre que significa cada columna del dataset:
<br>
* **#**: ID de cada pokemon
* **Name**: Nombre de cada pokemon
* **Type 1**: cada pokemon tiene un tipo, esto determina la debilidad / resistencia a los ataques
* **Type 2**: Algunos pokemones tiene dos tipos
* **Total**: Suma de todas las estadisticas de un pokemon (aqui se determina que tan fuerte es el pokemon)
* **HP**: puntos de golpe, o salud, define cuánto daño puede soportar un pokemon antes de desmayarse.
* **Attack**: el modificador base para ataques normales (por ejemplo, Scratch, Punch)
* **Defense**:  la resistencia al daño base contra ataques normales.
* **SP Atk**: ataque especial, el modificador base para ataques especiales (por ejemplo, explosión de fuego, haz de burbujas)
* **SP Def**: la resistencia base al daño contra ataques especiales
* **Speed**: determina qué Pokémon ataca primero en cada ronda.

**Nota**: aqui se encuentra alojado el dataset https://www.kaggle.com/abcsds/pokemon

## Inspeccionar un DataFrame

In [1]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [45]:
import pandas as pd
df = pd.read_csv('/content/gdrive/MyDrive/Pokemon.csv')

1. Imprime el encabezado del Dataframe de pokemon.

In [46]:
df.head()

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 13 columns]

2. Imprima información sobre los tipos de columna y los valores perdidos.

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

3. Imprime el número de filas y columnas del Dataframe.

In [52]:
df.shape

(800, 13)

4. Imprima algunas estadísticas resumidas que describen al dataframe

In [53]:
df.describe()

                #      Total          HP  ...     Sp. Def       Speed  Generation
count  800.000000  800.00000  800.000000  ...  800.000000  800.000000   800.00000
mean   362.813750  435.10250   69.258750  ...   71.902500   68.277500     3.32375
std    208.343798  119.96304   25.534669  ...   27.828916   29.060474     1.66129
min      1.000000  180.00000    1.000000  ...   20.000000    5.000000     1.00000
25%    184.750000  330.00000   50.000000  ...   50.000000   45.000000     2.00000
50%    364.500000  450.00000   65.000000  ...   70.000000   65.000000     3.00000
75%    539.250000  515.00000   80.000000  ...   90.000000   90.000000     5.00000
max    721.000000  780.00000  255.000000  ...  230.000000  180.000000     6.00000

[8 rows x 9 columns]

## Partes de un DataFrame
1. Imprima una matriz 2D NumPy de los valores.

In [54]:
df.values

array([[1, 'Bulbasaur', 'Grass', ..., 45, 1, False],
       [2, 'Ivysaur', 'Grass', ..., 60, 1, False],
       [3, 'Venusaur', 'Grass', ..., 80, 1, False],
       ...,
       [720, 'HoopaHoopa Confined', 'Psychic', ..., 70, 6, True],
       [720, 'HoopaHoopa Unbound', 'Psychic', ..., 80, 6, True],
       [721, 'Volcanion', 'Fire', ..., 70, 6, True]], dtype=object)

2. Imprima los nombres de columna del dataframe

In [55]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

3. Imprime el índice del dataframe

In [56]:
df.index

RangeIndex(start=0, stop=800, step=1)

## Ordenar filas
1. Ordene el dataframe por la columna Speed, de menor a mayor, y guárdelo como df_speed.

In [58]:
df_speed= df.sort_values("Speed")
print(df_speed.head())

       #       Name  Type 1 Type 2  ...  Sp. Def  Speed  Generation  Legendary
495  446   Munchlax  Normal    NaN  ...       85      5           4      False
230  213    Shuckle     Bug   Rock  ...      230      5           2      False
658  597  Ferroseed   Grass  Steel  ...       86     10           5      False
486  438     Bonsly    Rock    NaN  ...       45     10           4      False
359  328   Trapinch  Ground    NaN  ...       45     10           3      False

[5 rows x 13 columns]


2. Ordene el dataframe por la columna speed y  ordenela de forma descendente y guárdelo como df_speed_des.

In [59]:
df_speed_des= df.sort_values("Speed", ascending=False)
print(df_speed_des.head())

       #                       Name   Type 1  ... Speed  Generation  Legendary
431  386          DeoxysSpeed Forme  Psychic  ...   180           3       True
315  291                    Ninjask      Bug  ...   160           3      False
428  386         DeoxysNormal Forme  Psychic  ...   150           3       True
154  142  AerodactylMega Aerodactyl     Rock  ...   150           1      False
71    65      AlakazamMega Alakazam  Psychic  ...   150           1      False

[5 rows x 13 columns]

3. Ordene el dataframe primero por Type 1 (ascendente) y luego por Speed (descendente). Guarda esto como df_type_speed

In [65]:
df_type_speed = df.sort_values(["Type 1","Speed"], ascending=[True, False])
print(df_type_speed.head())

       #                   Name Type 1  ... Speed  Generation  Legendary
315  291                Ninjask    Bug  ...   160           3      False
19    15  BeedrillMega Beedrill    Bug  ...   145           1      False
678  617               Accelgor    Bug  ...   145           5      False
605  545              Scolipede    Bug  ...   112           5      False
693  632                 Durant    Bug  ...   109           5      False

[5 rows x 13 columns]

## Subconjuntos de columnas
1. Cree un DataFrame llamado df_names que  contenga solo la colummna names del daraframe df.

In [69]:
df_names = df["Name"]
print(df_names.head())

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

2. Cree un DataFrame llamado df_name_leg que contenga solo las columnas Name y Legendary de df, en ese orden.

In [71]:
df_name_leg = df[["Name", "Legendary"]]
print(df_name_leg.head())

                    Name  Legendary
0              Bulbasaur      False
1                Ivysaur      False
2               Venusaur      False
3  VenusaurMega Venusaur      False
4             Charmander      False

##Subconjuntos de filas
1. Filtre los casos de df en los que el total sea menor a 200, eso debes asignarlo a df_total

In [80]:
df_total = df[df["Total"] < 200]
print(df_total)

       #       Name   Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
13    10   Caterpie      Bug     NaN  ...       20     45           1      False
16    13     Weedle      Bug  Poison  ...       20     50           1      False
206  191    Sunkern    Grass     NaN  ...       30     30           2      False
288  265    Wurmple      Bug     NaN  ...       30     20           3      False
303  280      Ralts  Psychic   Fairy  ...       35     40           3      False
322  298    Azurill   Normal   Fairy  ...       40     20           3      False
446  401  Kricketot      Bug     NaN  ...       41     25           4      False

[7 rows x 13 columns]

2. Filtre los casos de df en los que Type 2 sean "Flying", Asignando a df_type_2.

In [88]:
df_type_2 = df[df["Type 2"] == "Flying"]
print(df_type_2)

       #                       Name    Type 1  ... Speed  Generation  Legendary
6      6                  Charizard      Fire  ...   100           1      False
8      6  CharizardMega Charizard Y      Fire  ...   100           1      False
15    12                 Butterfree       Bug  ...    70           1      False
20    16                     Pidgey    Normal  ...    56           1      False
21    17                  Pidgeotto    Normal  ...    71           1      False
..   ...                        ...       ...  ...   ...         ...        ...
730  662                Fletchinder      Fire  ...    84           6      False
731  663                 Talonflame      Fire  ...   126           6      False
734  666                   Vivillon       Bug  ...    89           6      False
771  701                   Hawlucha  Fighting  ...   118           6      False
793  717                    Yveltal      Dark  ...    99           6       True

[97 rows x 13 columns]

3. Filtre los casos de df en los que el Attack sea inferior a 50 y type 1 sea "Fire", asignando a df_type_1_20

In [93]:
df_type_1_20 = df[ (df["Attack"] < 50 ) & (df["Type 1"] == "Fire")]
print(df_type_1_20)

       #                Name Type 1  ... Speed  Generation  Legendary
42    37              Vulpix   Fire  ...    65           1      False
236  218              Slugma   Fire  ...    20           2      False
616  555  DarmanitanZen Mode   Fire  ...    55           5      False
721  653            Fennekin   Fire  ...    60           6      False

[4 rows x 13 columns]

##Subconjuntos de filas por variables categóricas

1. Filtre los casos en los que type 1 sea "Water" o "Fire", asignando a df_wat_fir

In [96]:
df_wat_fir = df[ (df["Type 1"] == "Water") | (df["Type 1"] == "Fire")]
print(df_wat_fir)

       #                       Name Type 1  ... Speed  Generation  Legendary
4      4                 Charmander   Fire  ...    65           1      False
5      5                 Charmeleon   Fire  ...    80           1      False
6      6                  Charizard   Fire  ...   100           1      False
7      6  CharizardMega Charizard X   Fire  ...   100           1      False
8      6  CharizardMega Charizard Y   Fire  ...   100           1      False
..   ...                        ...    ...  ...   ...         ...        ...
735  667                     Litleo   Fire  ...    72           6      False
736  668                     Pyroar   Fire  ...   106           6      False
762  692                  Clauncher  Water  ...    44           6      False
763  693                  Clawitzer  Water  ...    59           6      False
799  721                  Volcanion   Fire  ...    70           6       True

[164 rows x 13 columns]

2. Filtre los casos de df en los que generation sea 1, 2 , 3, asignando a df_gen.

In [97]:
gen = [1, 2, 3]
df_gen = df[ df["Generation"].isin(gen)]
print(df_gen)

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
427  385                Jirachi    Steel  ...   100           3       True
428  386     DeoxysNormal Forme  Psychic  ...   150           3       True
429  386     DeoxysAttack Forme  Psychic  ...   150           3       True
430  386    DeoxysDefense Forme  Psychic  ...    90           3       True
431  386      DeoxysSpeed Forme  Psychic  ...   180           3       True

[432 rows x 13 columns]

## Agregando nuevas columnas

1. Agregue una nueva columna a df, nombrarla Total_Special, que contenga la suma de las columnas Sp. Atk y Sp. Def

In [100]:
df["Total_Special"] = df["Sp. Atk"] + df["Sp. Def"]
print(df)

       #                   Name   Type 1  ... Generation  Legendary  Total_Special
0      1              Bulbasaur    Grass  ...          1      False            130
1      2                Ivysaur    Grass  ...          1      False            160
2      3               Venusaur    Grass  ...          1      False            200
3      3  VenusaurMega Venusaur    Grass  ...          1      False            242
4      4             Charmander     Fire  ...          1      False            110
..   ...                    ...      ...  ...        ...        ...            ...
795  719                Diancie     Rock  ...          6       True            250
796  719    DiancieMega Diancie     Rock  ...          6       True            270
797  720    HoopaHoopa Confined  Psychic  ...          6       True            280
798  720     HoopaHoopa Unbound  Psychic  ...          6       True            300
799  721              Volcanion     Fire  ...          6       True            220

[800 rows x 14 columns]